<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
    <meta name="description" content="Say no to pylons in Haconby, in Lincolnshire, and beyond">

    <title>
        {% block title %}
            {{ config.title }}
        {% endblock title %}
    </title>

      <!-- CSS -->
      <link rel="stylesheet" href="/style.css">

    <!-- FEEDS -->
      <link rel="alternate" href="/rss.xml" type="application/rss+xml">
      
      <!--{% if config.generate_feeds %}
        <link rel="alternate" type={% if config.feed_filenames == "rss.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}-->
      
    </head>

    <body>

    <div id="wrapper">

      {% include "partials/header.html" %}

      <div id="content">
    
        <main>
          {% block content %}
          {% endblock content %}
        </main>

        <div class="footer_outer">
          {% include "partials/footer.html" %}
        </div><!-- footer_outer -->

      </div><!--content-->

    </div><!--wrapper-->

    </body>

</html>
