{% extends "base.html" %}

{% block content %}
  <img class="img" src="/img/haconby-1979-72.webp" alt="Haconby, circa 1979"/>
  <p class="caption">National Grid’s proposed route for the Weston Marsh to East Leicestershire extension will ruin the tranquillity we have come to expect from living in our village (Haconby, circa 1979)</p>

  <ul class="postlist">
  {% set post_section = get_section(path="posts/_index.md") %}
  {% set limit = 200 %}
    {% for post in post_section.pages %}
      {% if loop.index <= limit %}
    <li class="postlist-item">
      <div class="date>">
        <time class="postlist-date">{{ post.date | date(format="%d %B %Y") }}</time>
      </div>
      <div class="postlist-head">
          <h2 class="postlist-title">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
          </h2>
      </div>
    </li>
  {% if not loop.index == limit %}
  {% endif %}
  {% endif %}
  {% endfor %}
  </ul>

  {% include "partials/footer.html" %}

{% endblock content %}

