{% extends "base.html" %}

{% block content %}

<div class="page">

  <h1 class="page-title">{{ page.title }}</h1>

  {% if page.description %}
    <h2 class="page-description">{{ page.description }}</h2>
  {% endif %}

  {% if page.date %}
    <p class="page-date">{{ page.date | date(format="%d %B %Y") }}
  {% if page.updated %}
    &middot; Updated: {{ page.updated | date(format="%d %B %Y") }}
  {% endif %}
    </p>
  {% endif %}

  {{ page.content | safe }}

</div><!--page-->

{% endblock content %}

